@charset "UTF-8";

@font-face {
  font-family: "SchoolSafetyPoster";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimPosterB.woff2") format("woff2");
  font-weight: normal;
  font-display: swap;
}

@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

/* 글꼴 색 설정 */
h1,
h2,
h3,
h4,
span {
  color: #282a2a;
}

p {
  color: #4d4d4d;
}

/* 글꼴 크기 및 행간, 폰트 설정, 뷰포트에 따라 폰트 사이즈 조절 */
h1 {
  font-size: clamp(1.5rem, 4vw, 6rem);
  font-family: "SchoolSafetyPoster", noto-sans, sans-serif;
  text-align: center;
}

h2 {
  font-size: clamp(1rem, 2vw, 3rem);
  font-family: noto-sans, sans-serif;
  text-align: center;
}

h3 {
  font-size: clamp(0.9rem, 1.4vw, 2.4rem);
  line-height: 1.2;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 600;
}

h4 {
  font-size: clamp(0.9rem, 1.4vw, 2.4rem);
  line-height: 1.2;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 500;
}

p {
  font-size: clamp(0.9rem, 1.4vw, 2.4rem);
  line-height: 1.4;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: 400;
  /* 긴 단어가 컨테이너를 넘칠 때 줄바꿈을 유연하게 처리하는 속성 */
  word-wrap: break-word;
  /* 한국어 문맥에 맞게 어절 단위로 줄바꿈을 시도하는 속성 */
  word-break: keep-all;
}

span {
  font-size: clamp(0.9rem, 1.5vw, 2.25rem);
  font-family: noto-sans, sans-serif;
  font-weight: 400;
}

/* 중복 속성 미리 정의하기 */

section,
footer {
  background-color: #f8f8ec;
  width: 100%;
  border-radius: clamp(1rem, 1.5vw, 3rem);
  padding: clamp(1rem, 2vw, 3rem);
}

/* 컨텐츠 외 전체 배경 색깔 */
body {
  background-color: #f5e5d6;
}

/* 전체 컨테이너 크기(모바일 우선 접근법 사용) */
.whole-container {
  width: 100%;
  height: 100%;
  padding: clamp(1rem, 2vw, 3rem);
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #d6e6f5;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 3rem);
}

/* 이름 영역 크기 */
.name-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ec;
  width: 100%;
  border-radius: clamp(1rem, 1.5vw, 3rem);
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
  padding: clamp(1.5rem, 3vw, 4.5rem) clamp(1rem, 2vw, 3rem);
}

.my-job {
  width: fit-content;
  text-align: center;
  background-color: #f5d6d7;
  border-radius: clamp(1rem, 2vw, 3rem);
  padding: clamp(0.15rem, 0.3vw, 0.45rem) clamp(0.5rem, 1vw, 1.5rem);
  font-size: clamp(0.75rem, 1.5vw, 2.25rem);
}

/* 메인 컨텐츠(자기소개. 경험, 강점, 기술)영역 */
.main-content-container {
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
}

/* 자기소개 영역 */
.about-me-box {
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
  background-color: #f8f8ec;
}

/* 제목과 문단에 구분선 표시 */
.about-me-box > :first-child:after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px dashed #4d4d4d;
  margin-top: clamp(0.5rem, 1vw, 1.5rem);
}

.about-me-description {
  /* 긴 단어가 컨테이너를 넘칠 때 줄바꿈을 유연하게 처리하는 속성 */
  word-wrap: break-word;
  /* 한국어 문맥에 맞게 어절 단위로 줄바꿈을 시도하는 속성 */
  word-break: keep-all;
}

.experience-strength-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
}

/* 모바일 사이즈가 되면 강점 영역이 아래로 떨어지게 하기 위한 반응형 설계 */
.experience-container,
.strength-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
}

/* 제목 및 각 문단마다 구분선 표시 */
.experience-container > :not(:last-child)::after,
.strength-container > :not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px dashed #4d4d4d;
  margin-top: clamp(0.5rem, 1vw, 1.5rem);
}

.experience-box,
.strength-box {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1vw, 1.5rem);
}

.experience-detail-box,
.strength-detail {
  width: fit-content;
  height: fit-content;
  background-color: #f5d6d7;
  border-radius: clamp(2rem, 4vw, 6rem);
  padding: clamp(0.25rem, 0.5vw, 0.75rem) clamp(1rem, 2vw, 3rem);
  text-align: center;
}

/* 기술 영역 */
.skills-container {
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
}

/* 제목과 문단에 구분선 표시 */
.skills-container > :first-child::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px dashed #4d4d4d;
  margin-top: clamp(0.5rem, 1vw, 1.5rem);
}

.frontend-skills-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: clamp(0.5rem, 1vw, 1.5rem);
  gap: clamp(0.5rem, 1vw, 1.5rem);
}

/* pc는 기술 영역에 마우스를 올리면 글씨가 사라지고 아이콘이 보이는 식으로 하기 위한 반응형 설계 */
.frontend-skills-item {
  position: relative;
  width: clamp(4.5rem, 10vw, 13.5rem);
  height: clamp(4.5rem, 10vw, 13.5rem);
  background-color: #d6e6f5;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.design-skills-box {
  padding: 0 12.5%;
}

.design-skills-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: clamp(0.5rem, 1vw, 1.5rem);
  gap: clamp(0.5rem, 1vw, 1.5rem);
}

/* 디자인 기술 영역도 마찬가지 */
.design-skills-item {
  position: relative;
  width: clamp(4.5rem, 10vw, 13.5rem);
  height: clamp(4.5rem, 10vw, 13.5rem);
  background-color: #f5d6d7;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

/* 피그마 아이콘은 사이즈 달라서 따로 클래스 줬음, 후술할 예정 */
.frontend-icon,
.design-icon,
.figma-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.skills-text {
  text-align: center;
  opacity: 0;
}

/* 피그마 아이콘은 원래 사이즈가 달라서 따로 클래스를 주고 크기 조정 */
.figma-icon {
  width: clamp(1.111rem, 2.222vw, 3.333rem);
  height: clamp(1.666rem, 3.333vw, 5rem);
}

/* 나머지 아이콘은 동일하게 설정 */
.frontend-icon,
.design-icon {
  width: clamp(1.666rem, 3.333vw, 5rem);
  height: clamp(1.666rem, 3.333vw, 5rem);
}

/* 연락처 영역 */
.contact-box {
  display: flex;
  flex-direction: column;
  gap: clamp(0.6rem, 1.2vw, 1.8rem);
}

/* 제목과 문단에 구분선 표시 */
.contact-box > :not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px dashed #4d4d4d;
  margin-top: clamp(0.5rem, 1vw, 1.5rem);
}

.contact-list,
.contact-item {
  display: flex;
}

.contact-list {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: clamp(0.75rem, 1.5vw, 2.25rem);
}

.contact-item {
  gap: clamp(0.25rem, 0.5vw, 0.75rem);
}

/* 이 이미지는 따로 클래스를 주는 의미가 없어보여서 자손 img 태그에다 주는 방식으로 했는데,
혹시 클래스 줘야한다면 수정하겠습니다. */
.contact-item img {
  width: clamp(1.5rem, 3vw, 4.5rem);
  height: clamp(1.5rem, 3vw, 4.5rem);
}

.contact-info {
  text-align: center;
  font-size: clamp(0.9rem, 1.8vw, 2.7rem);
  display: flex;
  align-items: center;
}

/* 태블릿 사이즈 */
@media (min-width: 769px) and (max-width: 1024px) {
  .whole-container {
    max-width: 960px;
  }

  .experience-container,
  .strength-container {
    flex: 1;
  }
}

/* pc 사이즈 */
@media (min-width: 1025px) {
  /* 전체 컨텐츠 기본색 및 애니메이션 사전 설정 */
  header,
  section,
  footer {
    background-color: #f8f8ec;
    transition: background-color 0.3s ease;
  }

  /* 마우스 호버 시 배경색 변경 */
  .name-box:hover {
    background-color: #eef2ff;
  }

  .whole-container {
    max-width: 1280px;
  }

  .about-me-box {
    background-color: #f8f8ec;
  }

  /* 마우스 호버 시 배경색 변경 */
  .about-me-box:hover {
    background-color: #e0f2f1;
  }

  .name-box,
  .about-me-box,
  .experience-container,
  .strength-container,
  .skills-container,
  .contact-box {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .name-box:hover,
  .about-me-box:hover,
  .experience-container:hover,
  .strength-container:hover,
  .skills-container:hover,
  .contact-box:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.25rem 0 #4d4d4d;
  }

  .experience-container,
  .strength-container {
    flex: 1;
  }

  /* 마우스 호버 시 배경색 변경 */
  .experience-container:hover {
    background-color: #e8eaf6;
  }

  /* 마우스 호버 시 배경색 변경 */
  .strength-container:hover {
    background-color: #fff9db;
  }

  /* 마우스 호버 시 스킬 영역 아이템 살짝 오른쪽 위로 이동 및 그림자 효과 주는 애니메이션 */
  .frontend-skills-item,
  .design-skills-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  /* 마우스 호버 시 배경색 변경 */
  .skills-container:hover {
    background-color: #f1f8e9;
  }

  .frontend-skills-item:hover,
  .design-skills-item:hover {
    cursor: pointer;
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem 0 #4d4d4d;
  }

  /* 마우스 호버 시 글씨가 사라지고 아이콘이 나타나는 애니메이션 */
  .skills-text {
    transition: opacity 0.3s ease;
  }

  .skills-icon {
    transition: opacity 0.3s ease;
  }

  .frontend-skills-item:hover .skills-text,
  .design-skills-item:hover .skills-text {
    opacity: 1;
  }

  .frontend-skills-item:hover .skills-icon,
  .design-skills-item:hover .skills-icon {
    opacity: 0;
  }

  /* 마우스 호버 시 배경색 변경 */
  .contact-box:hover {
    background-color: #efebe9;
  }
}
